<div id="divCanvas">
  <canvas id="canvasHeader" width="100" height="100"></canvas>
</div>
<script>
$(document).ready(function() {
  var barHeight = 50;
  var c=document.getElementById("canvasHeader");
  
  var width = window.innerWidth;
  var height = window.innerHeight - barHeight;

  c.width = width * window.devicePixelRatio;
  c.height = height * window.devicePixelRatio;
  
  c.style.width  = width + 'px';
  c.style.height = height + 'px';

  window.onresize = function(event) {
  
    var width = window.innerWidth;
    var height = window.innerHeight - barHeight;

    c.width = width * window.devicePixelRatio;
    c.height = height * window.devicePixelRatio;
  
    c.style.width  = width + 'px';
    c.style.height = height + 'px';
  };
  
  $(window).scroll(function () {
    if ($(window).scrollTop() >= window.innerHeight - barHeight) {
      $('#nav').addClass('nav-fixed');
    }
    if ($(window).scrollTop() < window.innerHeight - barHeight) {
      $('#nav').removeClass('nav-fixed');
    }
  });
});
</script>

{% include graphics/pixelated.html %}

<div id="nav">
    
    <ul>
      <li><a href="/">{{site.title}}</a></li>
      <li><a href="{% link _posts/2017-05-21-About-Me.md %}">About</a></li>
      <li><a href="{% link posts.html %}">Blog Posts</a></li>
      <li><a href="/">Contact</a></li>
    </ul>

</div>