<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
  
      {% include header.html %}

      <div id="middle-outer">
        <div id="middle-inner">
          <h1 class="entry-title">
            <a href="{{ root_url }}{{ post.url }}">{{ page.title }}</a>
          </h1>  
        
          Posted on <time>{{ page.date | date: "%b %-d, %Y" }}</time>
          
          {{ content }}
          
          {% include pagenavigation.html %}
          
          {% assign disqusUrl = 'http://www.reasonithink.com' | append: page.url %}
          {% assign disqusId = page.id %}
          
          {% include disqus.html %}
        </div>
      </div>
      {% include footer.html %}
      
  </body>

